.iosFrameWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.iosYoutubePlayerWrapper{
    background-color: #000;
    width: 90%;
    border: 5px solid #eb6968;
    margin-bottom: 1.5em;
}
.iosAttentionWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.2em;
}
.mobileYoutubeButtonWrapper{
    width: 90%;
}
.iosAttentionWrapper img{
    width: 90%;
    border: 5px solid #eb6968;
}
.iosYoutubeMore {
    width: 65%;
    text-align: left;
}
.iosYoutubePlayer{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.disabled{
    border: 4px solid #eaeaea;
    box-shadow: 4px 4px 0 0 #c1c1c1;
    cursor: not-allowed;
    color: #c1c1c1;
}
.disabled p{
    color: #c1c1c1;
}
.disabled svg path{
    fill: #eaeaea;
}
.hide{
    display: none;
}