.counterWrapper{
    background-color: #B5E063;
    color: #EB6968;
    height: 100px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}
.title{
    font-size: 0.9em;
    margin-bottom: -0.9em;
}
.counter{
    font-size: 3em;
}