:root {
    --swiper-navigation-size: 44px;
    --swiper-navigation-sides-offset: 200px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtubeSliderShutter {
    position: absolute;
    background-color: #FCD3D9;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: 0.9;
}

.swiper-slide-active .youtubeSliderWrapper .youtubeSliderShutter {
    display: none;
}

.youtubeSliderWrapper {
    width: 45vw;
    border: 5px solid #EB6968;
    display: flex;
    flex-direction: column;
    position: relative;
}

.beResponsive {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.youtubePlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtubeDescription {
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .arrowButtonsWrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-75px);
} */

.arrowButtonWrapperLeft {
    transform: translate(-50%, -50%);
    left: 16.5%;

}

.arrowButtonWrapperRight {
    transform: translate(50%, -50%);
    right: 16.5%;
}

.arrowButtonWrapper {
    z-index: 5;
    position: absolute;
    /* padding: 0 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: calc(50% - 1.25em);
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;
    width: 6.25rem;
    cursor: pointer;
    border: #EB6968 solid 4px;
    border-radius: 7px;
    background-color: #FFF;
    box-shadow: 4px 4px 0px 0px rgba(161, 75, 74, 1);
    transition: transform 0.1s ease, box-shadow 0.1s ease, border 0.5s ease;
}

.arrow img, .arrow svg {
    height: 80%;
}

.arrow:active {
    transform: translateY(4px);
    /* transform: translateX(4px); */
    box-shadow: 0px 0px 0px 0px rgba(161, 75, 74, 1);
}

.disabled .arrow {
    border: #EAEAEA solid 4px;
    box-shadow: 4px 4px 0px 0px rgba(193, 193, 193, 1);
    cursor: not-allowed;
}

.disabled .arrowButtonText {
    color: #C1C1C1;
}

.disabled .arrow:active {
    transform: translateY(0px);
}

.disabled .arrow svg path {
    fill: #EAEAEA;
}

path {
    transition: fill 0.5s ease;
}

.swiper-container {
    position: relative;
}

.arrowButtonText {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.25em;
    transition: color 0.5s ease;
}

.youtubeTitleWrapper {
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
}

.youtubeTitle {
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    text-overflow: ellipsis;
    font-size: 0.95em;
    text-align: start;
}

.youtubeMoreWrapper {
    height: 100%;
    border-bottom: 2px solid #EB6968;
    padding: 0px 5px 0px 3px;
    margin-right: 3px;
}

.youtubeMoreWrapper a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.youtubeMore {
    font-size: 0.95em;
    color: #EB6968;
}

.youtubeMoreImg {
    margin-top: 2px;
}

/* テスト */
.FirstYoutubePlayer {
    background-image: url("/public/assets/youtubeSliderBG.png");
    min-height: calc(45vw * 400/648);
    text-align: start;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.introWrapper {
    padding: 1.25em;
    background-color: #FFF;
    width: 83%;
    height: calc(45vw* 400 / 648* 0.75);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.suzunaImg {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 85%;
}

.introTextWrapper p {
    font-size: 1.9em;
}

@media screen and (max-width: 1500px) {
    .introTextWrapper p {
        font-size: 1.6em;
    }
}

.introListWrapper p, .introListWrapper ul li a {
    font-size: 1.6em;
}

@media screen and (max-width: 1500px) {
    .introListWrapper p, .introListWrapper ul li a {
        font-size: 1.4em;
    }
}

.em {
    font-size: 1em;
    background: linear-gradient(transparent 60%, #B5E063 40%);
}

/* .introListWrapper, .startButton {
    margin-top: 1em;
} */

.introList {
    font-size: 0.9em;
}

.startButton {
    background-color: #EB6968;
    padding: 0.4em 2.3em;
    border-radius: 7px;
    border: none;
    box-shadow: 4px 4px 0px 0px rgba(161, 75, 74, 1);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    font-size: 1.6em;
    font-weight: 600;
    color: #FFF;
    cursor: pointer;
}

.startButton:active {
    transform: translateY(4px);
    /* transform: translateX(4px); */
    box-shadow: 0px 0px 0px 0px rgba(161, 75, 74, 1);
}

.LoadingMessage {
    color: #FCD3D9;
}

.mobileArrowButtonWrapper {
    display: contents;
}

.mobileArrowButtonText {
    display: none;
}
.mobileYoutubePlayer{
    display: none;
}

@media screen and (max-width: 768px) {
    .introWrapper {
        display: none;
    }

    .arrowButtonWrapper {
        position: relative;
    }

    .youtubeSliderWrapper {
        width: 90%;
    }

    .FirstYoutubePlayer {
        height: calc(95vw * 400/648);
    }

    .mobileArrowButtonWrapper {
        display: flex;
        justify-content: space-between;
        margin: 1em auto;
        width: calc(90% + 10px);
    }

    .arrowButtonWrapperLeft {
        transform: translate(0);
        left: 0;
    }

    .arrowButtonWrapperRight {
        transform: translate(0);
        right: 0;
    }

    .arrowButtonText {
        display: none;
    }

    .mobileArrowButtonText {
        display: block;
        font-weight: 700;
        font-size: 1.2em;
        color: #464646;
    }
    .swiper-button-disabled .mobileArrowButtonText{
        color: #C1C1C1;
    }

    .arrow {
        width: 43vw;
        height: 4em;
        justify-content: space-around;
    }

    .arrow-right {
        transform: translateX(-2px);
    }

    .arrow img, .arrow svg {
        height: 70%;
    }

    .mobileYoutubePlayer {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .FirstYoutubePlayer {
        display: none;
    }

    .mobileYoutubeImg {
        width: 90vw;
        border: #EB6968 solid 5px;
        transform: translateX(-2.5px);
    }

    .mobileYoutubeButtonWrapper {
        height: calc(1.5em * 2 + 10px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .youtubeTitle {
        white-space: normal;
        font-weight: 700;
    }

    .mobileYoutubeButton {
        height: calc(1.5em * 2);
        /* width: calc(100% - 10px); */
        /* height: 100%; */
        width: 100%;
        background-color: #EB6968;
        color: #FFF;
        font-size: 1em;
        font-weight: 600;
        border-radius: 7px;
        box-shadow: 4px 4px 0px 0px rgba(161, 75, 74, 1);
        transform: translate(-2px , -2px);
    }
    .mobileYoutubeButton p{
        font-size: 1.3em;
    }
    .firstYoutubeSliderWrapper{
        border: none;
    }
}