html {
    font-size: 18px;
}

* {
    margin: 0px;
    font-family: "M PLUS 1", sans-serif;
}

body {
    background-color: #FFD4D7;
    /* line-height: normal; */
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
    font-size: inherit;

}
/* ラップトップ向けのスタイル (画面幅が1024px以上の場合) */
@media screen and (max-width: 1500px) {
    body {
        font-size: 16px;
    }
}
/* タブレット向けのスタイル (画面幅が1024px以下の場合) */
@media screen and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* スマートフォン向けのスタイル (画面幅が768px以下の場合) */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}