
.frame {
    position: relative;
    top: 0px;
    margin: 20px; /* 20px のマージンを保持 */
    border: 30px solid #EB6968;
    border-radius: 70px;
    box-sizing: border-box; /* ボーダーも含めてサイズ計算 */
    background-color: #FFF;
    background-image: url(../public/assets/check.png);
}